################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/EricExtrator/v16
/Entidades/Properties
/Entidades/obj/Debug
/Entidades/bin/Debug
/EricExtrator/obj/Debug
/EricExtrator/bin/Debug
/packages/HtmlAgilityPack.1.11.12
